.test{
  position: relative;
}

.test::before{
  content: "";
  background: #FFB646;
  position: absolute;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  left: -2px;
  top: 2px;
  z-index: -1;
}